
 @import "tailwindcss";

@theme {
  --dark-mode: class;
  
  
  --color-primary: var(--primary);   
  --color-secondary: var(--secondary); 
  --color-accent: var(--accent);      
}

@layer base {
  :root {
  
    --background: #fdfdfd;  
    --foreground: #0d4c4f;   
    
    --primary: #0d4c4f;     
    --secondary: #13b1a5;    
    --accent: #dcfce7;       
  }

  .dark {
   
    --background: #060b13;  
    --foreground: #f1f5f9;  
    
    --primary: #5eead4;     
    --secondary: #2dd4bf;   
    --accent: #1e293b;      
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
    @apply antialiased transition-colors duration-300;
  }
}